.color1 {
    color: #9e55a1;
}

.color2 {
    color: #a66495;
}

.color3 {
    color: #e0cacd;
}

.color4 {
    color: #eff4e4;
}

.color5 {
    color: #f9f9f4;
}

/* Paleta de colores */

/* Formatos generales */

/* Fuentes en uso */
@font-face {
    font-family: 'Regular';
    src: url(../Fonts/static/Raleway-Regular.ttf);
}

@font-face {
    font-family: 'Negrita';
    src: url(../Fonts/static/Raleway-Bold.ttf);
}

/* Final de fuentes */
/* reset global sacamos el margin y padding que trae por defecto el navegador */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    font-family: 'Regular';
    color: #9e55a1;
    /* Seteo de tamaño de letra */

    /* 62.5% = 10px */

    font-size: 62.5%;
}

/* Estilos header */
.encabezado {
    display: flex;
    /* Se aplica flexbox */
    align-items: center;
    /* Se alinean los items verticalmente */
    justify-content: center;
    /* Se alinean los items en horizontal */
    flex-wrap: wrap;
    /* Se vuelve responsive */

    gap: 10rem;
}



.logo {
    position: left;
    margin: 0 auto;
    max-width: 200px;
    height: auto;
    border-color: 5px solid #000;
}

.logo :hover {
    border-color: 5px solid #000;
    /* borde de color */
    margin: 0 auto;
    max-width: 200px;
    height: auto;
}

.lista {
    display: flex;
    justify-content: right;
    gap: 5rem;
    flex-wrap: wrap;
    padding: 0rem 1.5rem 0rem 1.5rem;
    /* Para que el index no tenga formato con puntos */
    list-style-type: none;

}

.lista_opciones a {
    text-decoration: none;
    color: #a66495;
    font-size: 2rem;
    font-weight: 300;
    border-bottom: 2px solid #eff4e4;
    transition: all 0.2s ease;

}

.hamburguesa-img {
    width: 2rem;
    height: auto;
    align-items: center;
    justify-content: center;
}



.navbar-toggler {
    position: right;
    margin: 0 auto;
    max-width: 200px;
    height: auto;
    align-items: center;
}

.lista_opciones:hover a {
    border-color: #a66495;
}


/* Color de fondo de la página */
body {
    background-color: #eff4e4;
}

/* Index */

.articulos {
    display: flex;
    justify-content: center;
    gap: 1rem;
    max-width: 1200px;
    flex-wrap: wrap;
    padding: 0 1rem;
}



.articulo_index1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    /* flex: 1 1 clamp(400px, 30%, 400px); */
    justify-content: center;
    margin: 3% 3%;
    min-width: 200px;

}


.articulo_img {
    width: 30%;
    height: auto;
    margin: 5%;
    min-width: 280px;
    border: 2px solid #000;
}

.titulo_parrafo {
    flex-direction: column;
    text-align: justify;
    min-width: 280px;
    width: 30%;
}

.linea_vertical {
    height: 30rem;
    width: 0.2rem;
    border-width: 0;
    color: grey;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;

}

.articulos2 {
    display: flex;
    max-width: 1200px;
    flex-direction: row;
    gap: 3rem;

}

.articulos2 p {
    margin: 5%;
}

.articulo_index2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;




}

.articulo_index2 p {
    text-align: justify;
    width: auto;
    justify-items: center;
}


.index_foto1 {

    position: left;
    margin: 0 auto;
    max-width: 300px;
    height: auto;
    justify-content: center;

}


.index_foto2 {

    border: 2px solid #000;
    /* borde de color */
    width: 250px;
    height: 300px;
    display: block;
    margin-top: 3rem;

}

h1 {
    text-align: center;
    font-size: 4rem;

}

h2 {
    font-size: 3rem;
}

hr {

    margin-inline: 15%;
}

p {
    font-size: 2rem;
}



/* Centrado del footer y tamñano letra copyright */
footer p {
    text-align: center;
    font-size: 2rem;
}

footer div ul {
    display: flex;
    /* Para que el index no tenga formato con puntos */
    list-style-type: none;
    gap: 5px;
    padding: 0 5%;
    flex-direction: column;

}

.div-footer {
    justify-content: right;
}


.redes {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 2.5%;
    flex-wrap: wrap;
    justify-content: right;
}

i {
    font-size: 3rem;
}

.facebook,
.instagram,
.whatsapp {
    color: #fff;
    padding: 0.8rem;
    border-radius: 100%;
}

.facebook {
    background-color: rgb(66, 103, 178);
}

.instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.whatsapp {
    background-color: rgb(37, 211, 102);
}


/* pagina de contacto */

.form-label {
    font-size: 1.5rem;
}


input {
    font-size: 1.5rem;
}

textarea {
    resize: none;
}

form {
   margin: 5%;
   max-width: 500px;
}

.img-contacto {
    width: 400px;
    height: auto;
    border: 2px solid #000;
    padding: 2%;
    border-radius: 100%;
}

.formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* CSS */
.button-59 {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #e0cacd;
  color: #e0cacd;
  fill: #e0cacd;
}

.button-59:active {
  border-color: #e0cacd;
  color: #e0cacd;
  fill: #e0cacd;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}

/* pagina de productos */


.productos_japamala {
    display: flex;
    max-width: 1200px;
    justify-content: center;
    flex-wrap: wrap;
}

.productos_japamala p {

    border: 2px solid #000;
    max-width: 254px;
    margin: 3rem 3rem;
    

}

.img-producto {
    display: flex;
    position: center;
    height: 300px;
    width: 250px;
    margin: 0 auto;
}



/* nosotros */
.mision-vision {
    display: flex;
    flex-direction: row;
    margin: 3%;
    text-align: justify;
  
}
.img-mision-vision {
    width: 300px;
    height: 400px;
    margin: 3%;
}

.vision, .mision {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}


.trabajos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.trabajo {
    height: auto;
    width: 200px;
    margin: 3%;
}

.trabajos ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}



/* Pagina Servicios */

div article {
    margin-inline: 10%;
}

div article p {
    text-align: justify;
}



@media only screen and (min-width: 571px) and (max-width: 980px) {

    .articulo_index1 {

        flex-wrap: wrap-reverse;
        gap: 0;
        padding: 0;
        margin: 0 10%;
    }

    .articulos2 {
        flex-direction: column;
        margin: 0 25%;
        display: block;

    }

    .articulo_index2 p {
        text-align: justify;
        width: auto;
        min-width: 300px;
    }


    .linea_vertical {
        display: none;
    }

    hr {
        width: auto;
    }
    .formulario{
        flex-direction: column;
        flex-direction: column-reverse;
    }
    
    .img-contacto {
        display: none;
    }
    .redes {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 2.5%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .mision-vision {
        flex-direction: column;
       
    }

}

@media only screen and (max-width: 570px) {
    .articulo_index1 {

        flex-wrap: wrap-reverse;
        gap: 0;
        padding: 0;
    }
    .img-contacto {
        display: none;
    }

    .linea_vertical {
        display: none;
    }

    .articulos2 {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 5px 15%;

    }

    .articulo_index2 p {
        text-align: justify;
        width: 250px;
    }



    .redes {
        display: flex;
        align-items: center;
        gap: 2rem;
        padding: 2.5%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .formulario{
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .mision-vision {
        flex-direction: column;
       
    }
    .trabajos {
        flex-direction: column;
    
    }
    
}