.productos_japamala
  display: flex
  max-width: 1200px
  justify-content: center
  flex-wrap: wrap

.productos_japamala p
  border: 2px solid #000
  max-width: 254px
  margin: 3rem 3rem

.img-producto
  display: flex
  position: center
  height: 300px
  width: 250px
  margin: 0 auto

  
  